* {
  margin: 0;
  padding: 0;
}
html, body, #app {
  height: 100%;
}

html {
  font-size: 26.625vw;
}

body {
  font-size: 24px;
}

// 隐藏滚动条效果
::-webkit-scrollbar {
  display: none;
}

input {
  outline: none;
}